.home-container{
    text-align: center ;
    margin: 50px;
    padding: 20px;
    border: 1px solid #ddd ;
    border-radius: 8px ;
    box-shadow: 0 0 10px ;
}

h2{
    color: red;
}

p{
    color: darkblue;
    line-height: 1.6 ;
}

